@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paprika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maitree&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cutive_Mono&display=swap');

/* 
color scheme:
- (penn blue-background) 6, 0, 47
- (wisteria-box 1) 179, 155, 237
- (pale dogwood-box 2) 227, 181, 164
- (cornsilk-font 1) 248, 242, 216
- (ebony-font 2) 99, 107, 97 - duller version of moss, really neutral
- (dark moss green-accents 1) 99, 107, 30 - fits well with background
- (burnt-sienna-accents 2) 239, 119, 75 - close to pale dogwood
*/

* {
    padding: 0;
    color: rgb(99, 107, 30);
    font-family: 'Kanit', sans-serif;
    /* temporary color setting  */
}

a {
    padding: 0 7px 0;
}

h1 {
    font-size: 60px;
}

h2 {
    color: rgb(248, 242, 216);
    font-size: 36px;
}

h3 {
    font-size: 20px;
}

/* actually just subtitle */
h4 {
    /* font-family: 'Paprika', sans-serif;
    font-size: 30px; */
    font: 22px 'Paprika', sans-serif;
}

p {
    font: 18px 'Maitree', sans-serif;
}

figcaption {
    font: 18px 'Cutive Mono', monospace;
    color:rgba(6, 0, 47, 0.8);
    background-color: antiquewhite;
}

figcaption:hover {
    opacity: 30%;
}

.container {
    display: flex;
    flex-direction: column;
    /* background: rgba(6, 0, 47, 1); */
}

.alt-container {
    display: flex;
    flex-direction: row;
    /* background: rgba(6, 0, 47, 1); */
}

.item {
    background: rgba(179, 155, 237, 0.8);
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.item-alt {
    background: rgba(227, 181, 164, 0.8);
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.item-alt-2 {
    background: rgba(6, 0, 47, 0.8);
    padding: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

body {
    margin: 0 10px 0 10px;
    justify-content: center;
    width:inherit;
    background-color: antiquewhite;
    background-image: url(img/valley.jpeg);
    background-size: cover;
}

nav {
    padding: 10px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-color: burlywood;
    text-align: center;
}

section {
    margin: 10px 0 10px 0;
}

#top {
    height: 60vh;
}

.small-box {
    width: 50%;
}

.swiper {
    height: 50vh;
    width: 50vh;
}

.swiper-slide {
    display:flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width:100%;
    height:100%;
    object-fit: scale-down; /* https://developer.mozilla.org/en-US/docs/Web/CSS/object-fit */
}

.swiper-slide figcaption {
    position: absolute;
    bottom: 30px;
    text-align: center;
    left: 25%;
    width: 70%;
}

.gallery {
    padding: 50px;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background-color: burlywood;
}



/* off-screen width error */
@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.updates {
    animation-name: scroll;
    animation-duration: 14s;
    animation-iteration-count: infinite;
}
